<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="settings">Settings</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link navbar-right" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link navbar-right" routerLink="statistics">Statistics</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->

<div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>