<app-logotitle></app-logotitle>
<div class="col-md-6 offset-md-3 mt-5">    
    <div class="card">
        <h4 class="card-header">Unauthorized</h4>
        <div class="card-body">
            You are not authorized to access this feature.
            <br>
            If you want to use it in the future,<br>
            please contact administrator at "begicfilip@outlook.com".
            <br><br>
            .o Team
        </div>
    </div>
    <div class="text-center">
        <a routerLink="planner/calendar-view" class="btn btn-link">Home</a>
    </div>
</div>