<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="calendarContainer">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">

        <!-- <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Current
        </div> -->
      </div>
    </div>
    <div class="col-md-4" style="display:flex; text-align: center;">
      <div class="btn btn-outline-secondary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()" style="margin: 0 auto; margin-right: 10px; height: 40px;">
        <mat-icon>
          navigate_before
        </mat-icon>
      </div>
      <h3 style=" vertical-align: bottom;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</h3>
      <div class="btn btn-outline-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()" style="margin: 0 auto; margin-left: 10px; height: 40px;">
        <mat-icon style="height: 15px;">
          navigate_next
        </mat-icon>
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div *ngIf="view === CalendarView.Day" class="btn btn-outline-secondary" (click)="setView(CalendarView.Month)">
          Return to Month View
        </div>

      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view" class="mat-app-background basic-container" style="position: relative">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="editEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)" [weekStartsOn]="1"
      [cellTemplate]="customCellTemplate" (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="editEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>

<!-- Custom Cell Template -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" [contextMenu]="basicMenu" [contextMenuSubject]="day.date">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:('monthViewDayNumber'):locale }}</span>
  </div>
</ng-template>

<!-- Right Click Menu -->
<context-menu>
  <ng-template contextMenuItem (execute)="newEvent($event.item)">
    Add a New Task
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="setviewDate($event.item); setView(CalendarView.Day)"
    [class.active]="view === CalendarView.Day">
    Check the day
  </ng-template>
</context-menu>

<!-- Create/Edit/Delete/Complete Context -->
<ng-template #eventContent let-close="close">
  <app-event-content (eventAdded)="eventAdded($event)" (modalClosed)="closeModal($event)"
    (eventEdited)="eventEdited($event)" (eventDeleted)="eventDeleted($event)" [inputEvent]="inputEvent"
    [isDelete]="isDelete" [isComplete]="isComplete">
  </app-event-content>
</ng-template>