<div class="calendarContainer">
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-outline-secondary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Current
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div *ngIf="view === CalendarView.Day" class="btn btn-outline-secondary" (click)="setView(CalendarView.Month)">
        Return to Month View
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view" class="mat-app-background basic-container calendarContainer" style="position: relative">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="editEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)" [weekStartsOn]="1"
    [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="editEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
</div>

<!-- Custom Cell Template -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" [contextMenu]="basicMenu" [contextMenuSubject]="day.date">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:('monthViewDayNumber'):locale }}</span>
  </div>
</ng-template>

<!-- Right Click Menu -->
<context-menu>
  <ng-template contextMenuItem (execute)="newEvent($event.item)">
    Add a New Task
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="setviewDate($event.item); setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
    Check the day
  </ng-template>
</context-menu>

<!-- Context Menu -->
<ng-template #eventContent let-close="close">
  <app-event-content (eventAdded)="eventAdded($event)" (modalClosed)="closeModal($event)"
    (eventEdited)="eventEdited($event)" (eventDeleted)="eventDeleted($event)" [inputEvent]="inputEvent"
    [isDelete]="isDelete" [isComplete]="isComplete">
  </app-event-content>
</ng-template>