<div class="modal-header">
    <h5 *ngIf="!inputEvent.id && !isDelete" class="modal-title">Add a new Event</h5>
    <h5 *ngIf="inputEvent.id && !isDelete" class="modal-title">Edit an event</h5>
    <h5 *ngIf="inputEvent.id && isDelete" class="modal-title">Delete an event</h5>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="eventTaskForm" (ngSubmit)="onSubmit()">
    <div class="modal-body" *ngIf="!isDelete">
        <div class="formGroup">
            <label for="eventTitle">Event:</label>
            <input class="form-control" type="text" formControlName="eventTitle" placeholder="Enter a title"
                [ngClass]="{ 'is-invalid': submitted && f.eventTitle.errors }" />
            <div *ngIf="submitted && f.eventTitle.errors" class="errorWrapper alert alert-danger">
                <div *ngIf="f.eventTitle.errors.required">Title is required</div>
                <div *ngIf="f.eventTitle.errors.minlength">Title must be between 4 and 20 characters</div>
            </div>
        </div>
        <div class="formGroup">
            <br>
            <table class="table table-bordered" id="dateTable">
                <thead>
                    <tr>
                        <th><label for="eventTitle">Date From:</label></th>
                        <th><label for="eventTitle">Date To:</label></th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="dateDiv">
                        <input type="dateInput text" mwlFlatpickr formControlName="dateFrom"
                            [altInput]="true" [convertModelValue]="true" [enableTime]="true" [time24hr]="true"
                            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                        </div>
                    </td>
                    <td>
                        <div class="dateDiv form-control" [ngClass]="{ 'is-invalid': submitted && errors }">
                        <input class="dateInput" type="text" mwlFlatpickr formControlName="dateTo" [altInput]="true"
                            [convertModelValue]="true" [enableTime]="true" [time24hr]="true" dateFormat="Y-m-dTH:i"
                            altFormat="F j, Y H:i" placeholder="Not set" style="background-color: brown;" />
                        </div>
                    </td>
                </tbody>
            </table>
            <div *ngIf="submitted && errors" class="errorWrapper alert alert-danger">
                <div>
                    Date to should be of greater value than date from
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="!isDelete">
        <div class="formGroup">
            <button *ngIf="!inputEvent.id" type="submit" class="btn btn-primary" (click)="createTrue()"
                [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                CREATE
            </button>
        </div>
        <div class="formGroup">
            <button *ngIf="inputEvent.id" type="submit" class="btn btn-primary" (click)="editTrue()"
                [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                EDIT
            </button>
        </div>
    </div>
</form>
<div class="modal-body" *ngIf="isDelete">
    <div>
        Are you sure you want to delete this event?
    </div>
</div>
<div class="modal-footer" *ngIf="isDelete">
    <button type="button" class="btn btn-outline-secondary" (click)="deleteEvent()">YES</button>
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">NO</button>
</div>

<!-- (click)="addEvent(eventTitle, dateFrom, dateTo)">
            CREATE

            (click)="editEvent(eventTitle, dateFrom, dateTo)">
            EDIT -->